/* Denna fil skall innehålla din CSS kod */
#body{
height: 200vh;
display: flex;
justify-content: center;
background-color: #b58b63;
}

.wrapper{
width: 70%;
display: grid;
grid-template-areas:
"hd hd hd"
"s2 s3 s3"
"s4 s5 s5"
"s6 s7 s8";
grid-template-columns: repeat(3 1fr);
gap: 1.5%;
}

#hd{
grid-area: hd;
display: flex;
justify-content: end;
align-items: center;
border: solid black;
flex-direction: column;
background-image: url("/img/pngtree-sun-icon-logo-png-png-image_5687131.png");
background-size: contain;
background-position: center;
background-repeat: no-repeat;
border-radius: 20px 20px 20px 20px;
}

#s2{
border: solid black;
grid-area: s2;
border-radius: 20px 20px 20px 20px;
background-color: #f6efe8;
color: #a5b58d;
}

#s3{
border: solid black;
grid-area: s3;
border-radius: 20px 20px 20px 20px;
background-image: url("/img/landingpage/petr-sevcovic-qE1jxYXiwOA-unsplash.jpg");
background-size: cover;
color: #a5b58d;
}

#s4{
border: solid black;
grid-area: s4;
border-radius: 20px 20px 20px 20px;
overflow: hidden;
background-image: url("/img/landingpage/moritz-knoringer-5QR63diGK5o-unsplash.jpg");
background-size: cover;
color: #a5b58d;
}

#s5{
grid-area: s5;
display: grid;
grid-template-areas:
"s51"
"s52";
}

#s51{
border: solid black;
margin-top: 0;
border-radius: 20px 20px 20px 20px;
background-color: #f6efe8;
color: #a5b58d;
}

#s52{
border: solid black;
margin: 0;
border-radius: 20px 20px 20px 20px;
background-color: #f6efe8;
color: #a5b58d;
}

#s6{
border: solid black;
grid-area: s6;
border-radius: 20px 20px 20px 20px;
color: #a5b58d;
background-image: url("/img/landingpage/hannah-fleming-hlll-fc8y5qpBKWQ-unsplash.jpg");
background-size: cover;
}

#s7{
border: solid black;
grid-area: s7;
background-image: url("/img/landingpage/mariah-hewines-JQfxJHQEX3c-unsplash.jpg");
background-size: cover;
border-radius: 20px 20px 20px 20px;
color: #a5b58d;
}

#s8{
border: solid black;
grid-area: s8;
background-image: url("/img/landingpage/nathan-dumlao-XOhI_kW_TaM-unsplash.jpg");
background-size: cover;
border-radius: 20px 20px 20px 20px;
color: #a5b58d;
}

/*
Meny css under här
*/

#body_meny{
height: 97vh;
display: flex;
justify-content: center;
background-color: #b58b63;
}

#meny_wrapper{
display: grid;
grid-template-areas:
"meny logo"
"bak dry"
"bak dry"
"bak dry"
"mat cat"
"mat cat"
"mat cat"
"footer footer";
grid-template-rows: repeat(8 1fr);
grid-template-columns: 1fr 1fr;
width: 100%;
gap: 1.5%;
}

#meny{
border: solid black;
grid-area: meny;
}

#logo{
border: solid black;
grid-area: logo;
}

#bak{
grid-area: bak;
border: solid black;
gap: 5%;
grid-template-areas:
"bak1 bak2 bak3";
display: flex;
justify-content: space-evenly;
}

#bak1{
border: solid black;
grid-area: bak1;
background-image: url("/img/meny/allen-rad-JBIK4QZOFfc-unsplash.jpg");
}

#bak2{
border: solid black;
grid-area: bak2;
background-image: url("/img/meny/anthony-espinosa-6iqpLKqeaE0-unsplash.jpg");
}

#bak3{
border: solid black;
grid-area: bak3;
background-image: url("/img/meny/oskar-yildiz-9B9-Wq1cZMI-unsplash.jpg");
}

#dry{
grid-area: dry;
border: solid black;
gap: 5%;
grid-template-areas:
"dry1 dry2 dry3";
display: flex;
justify-content: space-evenly;
}

#dry1{
border: solid black;
grid-area: dry1;
background-image: url("/img/meny/laura-chouette-TecD-1MTMiE-unsplash.jpg");
}

#dry2{
border: solid black; 
grid-area: dry2;
background-image: url("/img/meny/mae-mu-kbch-i63YTg-unsplash.jpg");
}

#dry3{
border: solid black;  
grid-area: dry3;
background-image: url("/img/meny/sara-julie-9Gz5bMWdGYE-unsplash.jpg");
}

#mat{
grid-area: mat;
border: solid black;
gap: 5%;
grid-template-areas:
"mat1 mat2 mat3";
display: flex;
justify-content: space-evenly;
}

#mat1{
border: solid black;
grid-area: mat1;
background-image: url("/img/meny/brooke-lark-oaz0raysASk-unsplash.jpg");
}

#mat2{
border: solid black;
grid-area: mat2;
background-image: url("/img/meny/daniel-dan-jU2yc0xxMbU-unsplash.jpg");
}

#mat3{
border: solid black; 
grid-area: mat3;
background-image: url("/img/meny/luisa-brimble-vIm26fn_QKg-unsplash.jpg");
}

#cat{
grid-area: cat;
border: solid black;
gap: 5%;
grid-template-areas:
"cat1 cat2 cat3";
display: flex;
justify-content: space-evenly;
}

#cat1{
border: solid black;
grid-area: cat1;
background-image: url("/img/meny/aneta-pawlik-GJwKzsxUQu4-unsplash.jpg");
}

#cat2{
border: solid black;
grid-area: cat2;
background-image: url("/img/meny/smorgastarta-med-rakor-och-lax.jpg");
}

#cat3{
border: solid black; 
grid-area: cat3;
background-image: url("/img/meny/yukiko-kanada-Ou4CQo6jzvU-unsplash.jpg");
}

#footer{
border: solid black;
grid-area: footer;
}